@import 'style.css';
.invite-container{
    box-sizing: border-box;
    width:auto;
    height:auto;
    border:none;
    padding:20px;
    margin:10px;
    background-color: var(--color-black);
}
.invite-child-container{
    box-sizing: border-box;
    width:auto;
    height:auto;
    border:none;
    padding:20px;
    margin-left:20%;
}
.invite-title{
    font-size: 3rem;
    color: var(--color-white);
    font-family: var(--font-family-official);
}
.invite-subtitle {
    font-size: 1rem;
    color: var(--color-white);
    margin-top: -30px;
    font-family: var(--font-family-base);
}