@import 'style.css';

:root {
    --background-event-organizer-image: url('../images/Logo/Light-cyan.png');
}

.event-organizer-container {
    /*background-image: var(--background-event-organizer-image);
    background-size: cover;*/
    box-sizing: border-box;
    width: auto;
    height: auto;
    border: none;
    padding: 20px;
    margin: 10px;
    background-color: var(--color-black);
}

.event-organizer-child-container {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    width: auto;
    height:auto;
    justify-content: space-between;
}

.event-organizer-child-first {
    width: max-content;
    height:520px;
    padding:20px;
    border: 0px solid;
    border-radius: 0px;
    background-color: var(--color-black);
    overflow-y: auto;
    background-image: url('../images/Unsplash/andrea.jpg');
    background-size: cover;
}

.event-organizer-child-first-content{
    width:auto;
    border:none;
    padding:20px;
    border-radius: 5px;
    background-color: var(--color-black-new);
}

.event-organizer-child-first-content:hover{
    transition: opacity 0.2s ease-in;
    opacity: 90%;
}

.event-organizer-child-first-content-title{
    color: var(--color-white);
    font-size: 1rem;
    font-family: var(--font-family-official);
}

.event-organizer-child-second {
    width: 350px;
    height:435px;
    padding:0px;
    border: 0px solid;
    border-radius: 0px;
    background-color: var(--color-white);
    overflow-y: auto;
}

.event-organizer-child-second-content{
    box-sizing: border-box;
    display: block;
    padding:10px;
    width:330px;
    height:auto;
}

.event-organizer-child-second-content:hover {
    opacity: 80%;
    transition: 0.2s ease-in;
}

.event-organizer-child-second-content-title{
    color: var(--color-black);
    font-size: 0.8rem;
    font-family: var(--font-family-base);
    text-align: center;
}

.event-organizer-child-second-content img {
    max-width: 100%;
    height: auto; 
}

.event-organizer-title {
    font-size: 1.5rem;
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-family-official);
}

.event-organizer-subtitle {
    font-size: 1.3rem;
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-family-base);
}

/**@media**/

@media (max-width: 768px) {
    .event-organizer-container {
        padding: 10px;
    }

    .event-organizer-child-container {
        margin-left: 5%;
        width: 90%;
        flex-direction: column;
    }

    .event-organizer-child-first{
        margin:20px;
        padding: 20px;
        font-size: 0.8rem;
        width: auto;
    }

    .event-organizer-child-second{
        margin:20px;
        padding: 20px;
        font-size: 0.8rem;
        width: auto;
    }

    .event-organizer-child-second-content{
        margin-left: 0px;
        width: auto;
    }

    .event-organizer-title {
        font-size: 2.5rem;
    }

    .event-organizer-subtitle {
        font-size: 0.9rem;
        margin-top: 20px;
    }
}

/* Responsive styles for screens up to 460px */
@media (max-width: 460px) {
    .event-organizer-container {
        padding: 5px;
    }

    .event-organizer-child-container {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .event-organizer-child-first {
        width:440px;
        height:400px;
        margin: 10px;
        font-size: 0.7rem;
        margin-top: -25px;
    }

    .event-organizer-child-second {
        margin: 10px;
        font-size: 0.7rem;
        width:350px;
        height:300px;
    }

    .event-organizer-child-second-content{
        margin-left: 0px;
        width: auto;
    }

    .event-organizer-title {
        font-size: 1.5rem;
        display: none;
    }

    .event-organizer-subtitle {
        font-size: 1.2rem;
        margin-top: 15px;
    }
}
