@import 'style.css';
canvas {
    display: block;
    margin: 20px auto;
    border: none;
    background-color: #f9f9f9;
    background-image: url('../images/Unsplash/flower-red.jpg');
    background-size: cover;
}
.productivity-title{
    color:rgba(75, 192, 192, 1);
    font-family: var(--font-family-base);
    font-size: 0.9rem;
}