@import 'style.css';

:root {
    --background-self-development-image: url('../images/Logo/Light-cyan.png');
}

.self-development-container {
    /*background-image: var(--background-self-development-image);
    background-size: cover;*/
    box-sizing: border-box;
    width: auto;
    height: auto;
    border: none;
    padding: 0px;
    margin: 10px;
}

.self-development-child-container {
    box-sizing: border-box;
    padding: 0px;
    margin-left: 0px;
    display: flex;
    width: auto;
    justify-content: space-between;
}
.self-development-title {
    font-size: 1.5rem;
    color: var(--color-black-new);
    text-align: center;
    font-family: var(--font-family-official);
}
.self-development-title2 {
    font-size: 1.5rem;
    color: var(--color-white-new);
    text-align: center;
    font-family: var(--font-family-official);
}

.self-development-subtitle {
    font-size: 0.9rem;
    color: var(--color-grey-new);
    text-align: center;
    font-family: var(--font-family-base);
}

.development-title {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-family-official);
}

/*first child*/
.self-development-first-child {
    width:400px;
    height:410px;
    box-sizing: border-box;
    padding: 0px;
    text-align: center;
    border: 0px solid;
    border-radius: 0px;
    color: var(--color-white);
    background-color: var(--color-black);
    overflow-y: auto;
    background-image: url('../images/Unsplash/fisher.jpg');
    background-size: cover;
}

.self-development-child-first-content {
    box-sizing: border-box;
    width: auto;
    border: none;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color-black-new);
    opacity:90%;
}

.self-development-child-first-content-title {
    color: var(--color-white);
    font-size: 0.9rem;
    font-family: var(--font-family-base);
    text-align: center;
}
.self-development-child-first-content-date{
    color: var(--color-white-new);
    font-size: 0.8rem;
    font-family: var(--font-family-base);
    text-align: left;
}
/*second child*/
.self-development-second-child {
    width:430px;
    height:410;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    border: 0px solid;
    border-radius: 0px;
    color: var(--color-white);
    background-color: var(--color-black);
}
.self-development-second-child-content{
    display:flex;
    justify-content: space-between;
}
.self-development-child-second-flex {
    width: 210px;
    height:340px;
    padding:0px;
    border: 0px solid;
    border-radius: 0px;
    background-color: var(--color-white);
    overflow-y: auto;
}
.self-development-child-second-images{
    box-sizing: border-box;
    display: block;
    padding:10px;
    width:190px;
    height:auto;
}
.first {
    max-width: 100%;
    height: 250px; 
}
.second {
    max-width: 100%;
    height: auto; 
}
.self-development-child-second-images img:hover {
    border:2px solid var(--color-red);
}
.self-development-child-second-subtitle{
    font-size: 1.2rem;
    font-family: var(--font-family-official);
}
.self-development-child-second-images-title{
    font-size: 0.7rem;
    font-family: var(--font-family-base);
    text-align: center;
    color: var(--color-black);
}
/*third child*/
.self-development-third-child {
    background-image: url('../images/Unsplash/bus.jpg');
    background-size: cover;
    width:410px;
    height:410px;
    box-sizing: border-box;
    padding: 0px;
    text-align: center;
    border: 0px solid;
    border-radius: 0px;
    color: var(--color-white);
    background-color: var(--color-black);
    overflow-y: auto;
}

.chart{
    width:400px;
    height: 200px;
}

.self-development-child-third-content {
    box-sizing: border-box;
    width: auto;
    border: none;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color-black-new);
}

.self-development-child-third-content:hover {
    transition: opacity 0.2s ease-in;
    opacity: 90%;
}

.self-development-child-third-content-title {
    color: var(--color-white);
    font-size: 0.9rem;
    font-family: var(--font-family-base);
}



/**@media**/

@media (max-width: 768px) {
    .self-development-container {
        padding: 0px;
    }

    .self-development-child-container {
        width: auto;
        flex-direction: column;
        justify-content: space-between;
    }

    .self-development-third-child {
        background-image: url(../images/Unsplash/bus.jpg);
        background-size: cover;
        width:auto;
        height: auto;
        padding: 20px;
        font-size: 0.8rem;
    }

    .self-development-first-child {
        width:auto;
        height: auto;
        padding: 20px;
        font-size: 0.8rem;
    }
    .self-development-second-child {
        width:auto;
        padding: 10px;
        font-size: 0.7rem;
        margin:10px;
    }
    .self-development-child-second-flex {
        width:340px;
        height: 290px;
        overflow-y: auto;
    }
    .self-development-child-second-images{
        width:auto;
    }

    .self-development-title {
        font-size: 1.5rem;
    }

    .self-development-subtitle {
        font-size: 0.9rem;
        margin-top: -20px;
    }
}

/* Responsive styles for screens up to 460px */
@media (max-width: 460px) {
    .self-development-container {
        padding: 0px;
        margin:2px;
    }

    .self-development-child-container {
        box-sizing: border-box;
        margin-left: 0;
        padding: 0px;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    
    .self-development-first-child {
        width:auto;
        height: auto;
        font-size: 0.7rem;
        overflow-y: auto;
        margin: 0px;
    }

    .self-development-second-child {
        width:auto;
        padding: 2px;
        font-size: 0.7rem;
        margin:10px;
    }
    .self-development-child-second-flex {
        width:180px;
        height: 310px;
        overflow-y: auto;
    }
    .self-development-child-second-images{
        width:auto;
    }

    .self-development-third-child {
        background-image: url(../images/Unsplash/bus.jpg);
        background-size: cover;
        width:auto;
        padding: 2px;
        font-size: 0.7rem;
        margin:0px;
    }

    .self-development-title {
        font-size: 1.5rem;
    }

    .self-development-subtitle {
        font-size: 0.8rem;
        margin-top: 15px;
    }
    .chart{
        width:360px;
        height: auto;
    }
}
