<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/images/Favicon/Dark.png">
    <link rel="stylesheet" href="../static/css-project-page/account.css">
    <link rel="stylesheet" href="../static/css-project-page/Hero.css">
    <link rel="stylesheet" href="../static/css-project-page/style.css">
    <link rel="stylesheet" href="../static/css-project-page/button.css">
    <title>My Account</title>
</head>
<body>
    <div class="Hero-container">
        <header>
            <div class="child-Hero-container">
                <div class="Logo">
                    <a href="{{ url_for('dashboard') }}"><img src="../static/images/Logo/dark-blue-light.png" alt="Logo" width="120px" height="auto"></a>
                </div>
                <nav id="nav-links" class="hide-links">
                    <!-- Hamburger icon for screens with max-width: 460px -->
                    <div class="hamburger-menu">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <!-- Normal navigation for screens larger than 460px -->
                    <ul class="nav-list">
                        <li><a href="{{ url_for('dashboard') }}">Home<span></span></a></li>
                        <li><a href="{{ url_for('login') }}">Log out<span></span></a></li>
                    </ul>
                </nav>
                <script src="../static/js/hamburger-menu.js"></script>                    
            </div>
        </header>
    </div>

    <div class="my-account-container">
        <div class="my-account-details">
            <div class="form-group">
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" value="{{ user.first_name }}" contenteditable="true">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" value="{{ user.last_name }}" contenteditable="true">
            </div>
            <br>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" value="{{ user.username }}" contenteditable="true">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" value="{{ user.email }}" contenteditable="true">
            </div>
            <br>
            <div class="form-group">
                <label for="date-of-birth">Date of Birth:</label>
                <input type="text" id="date-of-birth" value="{{ user.dob }}" contenteditable="true">
            </div>
            <br>
            <button onclick="saveDetails()" class="button-custom">Save Details</button>
            <script src="../static/js/account.js"></script>
        </div>
    </div>   
    
</div>
</body>
</html>
