<html>                          
                          <body>
                            <p style="text-align: justify;">Dear {{ user_info['first_name'] }},</p>
                            <p style="text-align: justify;">We hope this email finds you well.<p>
                                
                            <h1 style="
                                font-size: 1.2rem;
                                color:#777">
                                Welcome to Tomorrow</h1>
                              <img style="
                                    display: block;
                                    margin: auto;
                                    max-width: 100%;"
                                    src="https://web-01.holb20233m8xq2.tech/images/Light-purple.png" alt="Tomorrow Logo" >
                              <p style="text-align: justify;">We're thrilled to have you on board, and your journey towards a brighter, more organized future begins right now.</p>
                              <p style="text-align: justify;">Picture a stress-free tomorrow where your tasks effortlessly align with your goals. That's the Tomorrow experience we're excited to bring to you.</p>
                              <p style="text-align: justify;">Incase of any enquiries, feel free to 
                                <a href="mailto:tomorrow.clientdesk@gmail.com">contact us</a>
                              </p>
                              <p style="text-align: justify;">Thank you for choosing Tomorrow.</p>
                              <p style="margin-top: 20px;
                                        text-align: center;
                                        color: #777;">
                                        Best regards,<br>The Tomorrow Team</p>
                          </body>
                          </html>
<!--------------------------------------Event saved succesfully------------------>
<html>                            
  <body style="
      font-family: 'Arial', sans-serif;
          max-width: 600px;
          margin: auto;
          padding: 20px;">
      <p style="text-align: justify;">Dear User,</p>
      <p style="text-align: justify;">Your Event: {event_name} due {event_date} has been saved successfully! You will be notified 1 day prior</p>
      <p style="text-align: justify;">Incase of any changes or task completed earlier, feel free to edit or tick done.</p>
      <p style="text-align: justify;">Incase of any enquiries, feel free to 
          <a href="mailto:tomorrow.clientdesk@gmail.com">contact us</a>
      </p>
      <p 
      style="margin-top: 20px;
      text-align: center;
      color: #777;">Best regards,<br>The Tomorrow Team</p>
  </body>
</html>
<!---------------------------Reminder for event-->
<html>
    <body>
      <p style="text-align: justify;">Dear User,</p>
      <p style="text-align: justify;">Just a reminder that your event '{event_name}' is scheduled for {event_date}.</p>
      <p style="text-align: justify;">Don't forget to prepare for it!</p>
      <p style="text-align: justify;">Incase of any enquiries, feel free to 
        <a href="mailto:tomorrow.clientdesk@gmail.com">contact us</a>
      </p>
      <p
        style="margin-top: 20px;
        text-align: center;
        color: #777;">
        Best regards,<br>The Tomorrow Team</p>
    </body>
</html>