<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/images/Favicon/Dark.png">
    <link rel="stylesheet" href="../static/css-project-page/Hero.css">
    <link rel="stylesheet" href="../static/css-project-page/style.css">
    <link rel="stylesheet" href="../static/css-project-page/button.css">
    <link rel="stylesheet" href="../static/css-project-page/productivity.css">
    <title>All tasks</title>
</head>
<body>
    <div class="Hero-container">
        <header>
            <div class="child-Hero-container">
                <div class="Logo">
                    <a href="{{ url_for('dashboard') }}"><img src="../static/images/Logo/dark-blue-light.png" alt="Logo" width="120px" height="auto"></a>
                </div>
                <nav id="nav-links" class="hide-links">
                    <!-- Hamburger icon for screens with max-width: 460px -->
                    <div class="hamburger-menu">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <!-- Normal navigation for screens larger than 460px -->
                    <ul class="nav-list">
                        <li><a href="{{ url_for('dashboard') }}">Home<span></span></a></li>
                        <li><a href="{{ url_for('login') }}">Log out<span></span></a></li>
                    </ul>
                </nav>
                <script src="../static/js/hamburger-menu.js"></script>                    
            </div>
        </header>
    </div>
    <div class="control-container">
        <div class="container">
            <div class="scale" id="TaskCompletionRate">
                <h2>Task Completion Rate</h2>
                <div class="values" id="TaskCompletionRateValues"></div>
            </div>
    
            <div class="scale" id="TimeManagement">
                <h2>Time Management</h2>
                <div class="values" id="TimeManagementValues"></div>
            </div>
    
            <div class="scale" id="TaskResponseTime">
                <h2>Task Response Time</h2>
                <div class="values" id="TaskResponseTimeValues"></div>
            </div>
    
            <div class="scale accelerometer" id="ProductivitySummary">
                <h2>Productivity Summary</h2>
                <div class="values" id="ProductivitySummaryValues"></div>
                <div class="accelerometer-dot"></div>
            </div>
        </div>
        <script src="../static/js/productivity.js"></script>
    </div>
    <br>
    <div class="center-button">
        <a href="{{ url_for('dashboard') }}"><button class="button-custom">Go back home</button></a> 
    </div>
    <br>
</body>
</html>