@import '../style.css';
.invite-container{
    box-sizing: border-box;
    width:auto;
    height:auto;
    border:none;
    padding:20px;
    margin:10px;
    display: flex;
    justify-content: space-between;
}
.invite-child-container{
    box-sizing: border-box;
    width:auto;
    height:auto;
    border:none;
    padding:20px;
    margin-left:0;
}
.invite-title{
    font-size: 3rem;
    color: var(--color-black);
    font-family: var(--font-family-official);
}
.invite-subtitle {
    font-size: 0.9rem;
    color: var(--color-black);
    margin-top: -30px;
    font-family: var(--font-family-base);
}
.hr-hidden{
    color: var(--color-black);
    height: 3px;
    display: none;
}
.contact{
    width:650px;
    height:300px;
    border: 0px solid red;
}
.contact-title{
    color: var(--color-black);
    text-align: center;
    font-size: 3rem;
}
.contact-subtitle{
    color: var(--color-black);
    margin-top:-40px;
    text-align: center;
    font-size: 1.1rem;
    font-family: var(--font-family-base);
}
.contact-button{
    display: flex;
    justify-content: center;
}
/**@media**/

@media (max-width: 768px) {
    .invite-container {
        padding: 10px;
        flex-direction: row;
    }

    .invite-child-container {
        width: 300px;
        margin-left: 5%;
    }

    .invite-title {
        font-size: 2.5rem;
    }

    .invite-subtitle {
        font-size: 0.9rem;
        margin-top: -20px;
    }
    .contact{
        width:300px;
    }
    .contact-title{
        font-size: 2.5rem;
    }
    .contact-subtitle{
        font-size: 0.9rem;
        margin-top: 0px;
    }
}

/* Responsive styles for screens up to 460px */
@media (max-width: 460px) {
    .invite-container {
        padding: 5px;
        flex-direction: column;
    }

    .invite-child-container {
        width: auto;
        margin-left: 0;
    }

    .invite-title {
        font-size: 2rem;
    }

    .invite-subtitle {
        font-size: 0.8rem;
        margin-top: -15px;
    }
    .contact{
        width:auto;
    }
    .contact-title{
        font-size: 2rem;
    }
    .contact-subtitle{
        font-size: 0.8rem;
        margin-top: 0px;
    }
}
