@import '../style.css';
:root{
    --background-services-image: url('../images/Logo/Light-cyan.png');
}
.services-container{
    /*background-image: var(--background-services-image);
    background-size: cover;*/
    box-sizing: border-box;
    width:auto;
    height:auto;
    border:none;
    padding:20px;
    margin:10px;
}
.services-child-container{
    box-sizing: border-box;
    padding: 0px;
    margin-left: 25%;
    display:flex;
    width:50%;
    justify-content: space-between;
}
.services-child{
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width:auto;
    border: 0px solid;
    border-radius: 5px;
    color: var(--color-white);
    background-color: var(--color-black);
    font-family: var(--font-family-base);
    font-size: 1rem;
    opacity:90%;
}
.services-child:hover{
    opacity: 90%;
    color: var(--color-white);
    background-color: var(--primary-color);
    transition: 0.2s ease-in;
}
.services-title{
    font-size: 3rem;
    color: var(--color-black);
    text-align: center;
    font-family: var(--font-family-official);
}
.services-subtitle {
    font-size: 1rem;
    color: var(--color-black);
    margin-top: -30px;
    text-align: center;
    font-family: var(--font-family-base);
}

.task-container{
    width:auto;
    height: 400px;
    border:0px solid red;
    display: flex;
    justify-content: space-between;  
    margin-left: 100px;
    margin-right: 100px;  
}
.task-child-first{
    width:300px;
    height:300px;
    height: auto;
    border: 0px solid blue;
}

.task-first{
    width:300px;
    height: auto;
}
.task-child-second{
    width:300px;
    height:300px;
    height: auto;
    border: 0px solid blue;
}
.task-second{
    width:300px;
    height: auto;
}
.task-child-third{
    width:300px;
    height:300px;
    height: auto;
    border: 0px solid blue;
}
.task-third{
    width:300px;
    height: auto;
}
.task-subtitle{
    padding:10px;
    font-size: 0.9rem;
    font-family: var(--font-family-base);
}

/**@media**/

@media (max-width: 768px) {
    .services-container {
        padding: 10px;
    }

    .services-child-container {
        margin-left: 5%;
        width: 90%;
    }

    .services-child {
        padding: 20px;
        font-size: 0.8rem;
    }

    .services-title {
        font-size: 2.5rem;
    }

    .services-subtitle {
        font-size: 0.9rem;
        margin-top: -20px;
    }
    .task-container{
        width:auto;
        height: 400px; 
        margin-left: auto;
        margin-right: auto;
        overflow-y: auto;  
    }
    .task-child-first{
        width:auto;
    }
    .task-first{
        width:200px
    }    
    .task-child-second{
        width:auto;
    }
    .task-second{
        width:200px
    }
    .task-child-third{
        width:auto;
    }
    .task-third{
        width: 200px;
    }
    .task-subtitle{
        font-size: 0.9rem;
    }
}

/* Responsive styles for screens up to 460px */
@media (max-width: 460px) {
    .services-container {
        padding: 5px;
    }

    .services-child-container {
        align-items: center;
        width: auto;
        margin-left: 0px;
    }

    .services-child {
        padding: 10px;
        font-size: 0.7rem;
        border-radius: 3px;
    }

    .services-title {
        font-size: 2rem;
    }

    .services-subtitle {
        font-size: 0.8rem;
        margin-top: -15px;
    }
    .task-container{
        width:auto;
        height: 400px;
        flex-direction: column; 
        margin-left: 0px;
        margin-right: 0px;
        overflow-y: auto;  
    }
    .task-child-first{
        width:auto;
    }    
    .task-child-second{
        width:auto;
    }
    .task-child-third{
        width:auto;
    }
    .task-subtitle{
        font-size: 0.8rem;
    }
}
