@import 'style.css';
:root{
  --login-container-background: var(--color-white);
  --login-container-font-family: var(--font-family-official);
  --login-container-padding:40px;
  --login-container-border-radius:8px;
  --login-container-box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
  --label-font-family: var(--font-family-base);
  --label-font-color: var(--color-black);
  --input-padding: 8px;
  --input-border:1px solid #ccc;
  --input-border-radius:4px;
}  
  .login-container {
    background-color: var(--login-container-background);
    padding: var(--login-container-padding);
    border-radius: var(--login-container-border-radius);
    box-shadow: var(--login-container-box-shadow);
    font-family: var(--login-container-font-family);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color:var(--label-font-color);
    font-family: var(--label-font-family);
  }
  
  input {
    padding: var(--input-padding);
    margin-bottom: 16px;
    border: var(--input-border);
    border-radius: var(--input-border-radius);
  }
  

  